body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff;
  background: url('assets/images/IMG_9247.JPG') no-repeat center center fixed;
  background-size: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, p {
  text-align: center;
  max-width: 800px;
}
